<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 별칭설정 -->
    <typeAliases>
        <typeAlias type="com.board.app.dto.BoardDto" alias="BoardDto"/>
        <typeAlias type="com.board.app.vo.BoardVO" alias="BoardVO"/>
    </typeAliases>

<!-- 작성한 XML파일 등록: 어떤 Mapper인터페이스가 어떤 Mapper.XML파일과 연결되는지 인식하기 위함  디렉토리를 같게 하면 설정할 필요없음 -->
<!--    <mappers>-->
<!--        <package name="mapper"/>-->
<!--    </mappers>-->
</configuration>